@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@300;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Aspecto Boton Generico */
.btnGenerico {
    background-color: #202930;
    color: #ff8c00;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
}

/*   Aspecto Boton Generico hover   */

.btnGenerico:hover {
    background-color: #ff8c00;
    color: #202930;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}
/* header con Bootstrap */

.bg-propio {
    background: rgb(255,101,5);
    background: linear-gradient(115deg, rgba(255,101,5,0.908000700280112) 0%, rgba(255,171,0,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
}

.navbar-brand:hover {
    transform: scale(1.2);
}

.nav-item a {
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    color: #202930;
    margin: 10px 10px;
}
.nav-item a:hover {
    color: #f9f9f9;
    transition: all 1.0s;
}

/* banner CSS */
.tituloPrincipal {
    color: #fbfbfb;
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
}

.bannerPrincipal p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fbfbfb;
    padding-bottom: 10px;
}

.bannerPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7) url(../img/img-section-1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    height: 70vh;
}
h1 {
    color: #202930;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    margin-top: 30px;
    
}

h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 36px;
    color: #202930;

    text-align: center;
}

/*  grid de Boostrap */

.card {
    border: none;
    padding: 10px;
    box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
}

.card-body h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
    color: #202930;
}


/*     section fabricacion artesanal    */

.fabricacion {
    background-color: #ff8c00;
}

.artesanal {
    padding-left: 30px;
}

.artesanal h2 {
    text-align: left;
}

/*     Pedi por Whatsapp    */



.btnGenerico {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 0px;
}


/*     asi hacempos los pasteles    */

.fondoReceta {
    background-color: #ffd000;
    padding: 30px 0;
}

.fondoReceta h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
    color: #202930;
}

/* producto galeria  */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    margin: 2em;
}
/*  GALERIA  */


#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 10px;
}

#galeria img {
    width: 100%;
    height: auto;
}

#galeria img:hover {
    filter: blur(2px);
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-filter: grayscale(1);
}

#galeria {
    width: 100%;
    height: auto;
}

/*  HORARIOS  */



.tarjeta {
    border-radius: 10px;
    width: 20rem;
    height: 400px;
    background-color:#ffffff;
    margin: 20px;
    box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
}

.titulo-tarjeta {
    font-family: 'Alfa Slab One', cursive;
    font-size: 22px;
    text-align: center;
    margin-top: 20px; 
    background-color: #ff8c00;
    padding: 10px 20px;
}

.tarjeta h5 {
    font-family: 'Alfa Slab One', cursive;
    color: #202930;
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
    background-color:#f9f9f9;
    padding: 10px 20px;
}

.tarjeta p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.titulo-cerrado {
    font-family: 'Alfa Slab One', cursive;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px; 
    background-color: #202930;
    padding: 10px 20px;
}

.tarjeta .cerrado {
    font-family: 'Alfa Slab One', cursive;
    color: #202930;
    font-size: 30px;
    margin-top: 40%;
}

/*    contacto    */


.contacto .servirles {
    height: auto;
    max-width: 400px;
    margin-right: 1em;
}
.contacto .servirles h3 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 28px;
    color: #ff8c00;
}

.contacto .servirles p {
    font-size: 16px;
}

.contacto form {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #fbfbfb;
    padding: 20px 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.contacto form label {
    margin: 10px;
    font-size: 16px;
}
.contacto form input {
    border: solid 1px #303030;
    border-radius: 10px;
    height: 30px;
}

.contacto form textarea {
    height: 60px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contacto form .btnGenerico {
    border: none;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   footer   */


footer {
    background: rgb(255,101,5);
    background: linear-gradient(318deg, rgba(255,101,5,0.908000700280112) 0%, rgba(255,171,0,1) 100%);
    height: 100px;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #202930;
    text-align: left;
}
.socialMedia {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialMedia img {
    height: 40px;
    width: 40px;
}