@import "./partials/reseter";
@import "./partials/googleFonts";
@import "./partials/body";
@import "./partials/headings";
@import "./partials/boton";
@import "./partials/header";
@import "./partials/banner";
@import "./partials/cards";
@import "./partials/sectFab";
@import "./partials/sectDeli";
@import "./partials/sectVideo";
@import "./partials/footer";
@import "./partials/variables";


/* producto galeria  */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    margin: 2em;
}
/*  GALERIA  */

#galeria {
    width: 100%;
    height: auto;
    .col-lg-4 {
        margin: 0 !important;
        padding: 10px;
        img {
            width: 100%;
            height: auto;
            &:hover {
            filter: blur(2px);
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-filter: grayscale(1);
            }
        }
    }
}

/*  HORARIOS  */
.tarjeta {
    border-radius: 10px;
    width: 20rem;
    height: 400px;
    background-color:#ffffff;
    margin: 20px;
    box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 23px -6px rgba(0,0,0,0.75);
    h5 {
        font-family: 'Alfa Slab One', cursive;
        color: #202930;
        font-size: 22px;
        text-align: center;
        margin-top: 50px;
        background-color:#f9f9f9;
        padding: 10px 20px;
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
        }
    }
    .titulo-tarjeta {
        font-family: 'Alfa Slab One', cursive;
        font-size: 22px;
        text-align: center;
        margin-top: 20px; 
        background-color: #ff8c00;
        padding: 10px 20px;
        }
    .titulo-cerrado {
        font-family: 'Alfa Slab One', cursive;
        font-size: 22px;
        color: #ffffff;
        text-align: center;
        margin-top: 20px; 
        background-color: #202930;
        padding: 10px 20px;
        }
    .cerrado {
        font-family: 'Alfa Slab One', cursive;
        color: #202930;
        font-size: 30px;
        margin-top: 40%;
    }
}

/*    contacto    */

.row {
    display: flex;
    width: 100%;
    height: 80vh;
    .servirles {
        height: auto;
        max-width: 400px;
        margin-right: 1em;
        h3 {
            font-family: 'Alfa Slab One', cursive;
            font-size: 28px;
            color: #ff8c00;
            }
        p {
            font-size: 16px;
        }
    }
    form {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #fbfbfb;
    padding: 20px 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
        label {
            margin: 10px;
            font-size: 16px;
            input {
                border: solid 1px #303030;
                border-radius: 10px;
                height: 30px;
                }
            }
        textarea {
            height: 60px;
            width: auto;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .btnGenerico {
            border: none;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }   
}
