h1 {
    color: $primaryColor;
    font-family: $alfaSlab;
    text-align: center;
    margin-top: 30px;
    
}

h2 {
    font-family: $alfaSlab;
    font-size: 36px;
    color: $primaryColor;
    text-align: center;
}
